body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,
  #2020c9 0%,
  #3421cc 25%,
  #561fc5 45%,
  #6d18c0 60%,
  #8114b8 100%
);
    background-attachment: fixed;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.2); /* Slight transparency to blend */
    padding: 20px;
    border-bottom: 3px solid #ffffff33;
}

h1, h2 {
    margin: 0;
    color: white;
}

.container {
    background-color: #8257c9; /* Soft purple */
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

li {
    color
    margin: 10px 0;
    text-align: center;
}

a {
    color: #1b107a;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #591c73;
}

position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8257c9;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;

.footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    color: #ffd6ff;
}

